[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-openai = "*"
fastapi = "*"
exa-py = "*"
langchain-community = "*"
arxiv = "*"
uvicorn = "*"
langchain-groq = "*"
langchain = {extras = ["google-genai"], version = "*"}
langgraph = "*"
langgraph-prebuilt = "*"
textual = "*"
rich = "*"
mangum = "*"

[dev-packages]

[requires]
python_version = "3.10"
